body{
    background-color:#333333 ;
    color: orange;
}
.box{
    border: 1px solid white;
    padding: 10px;
}
.box:hover{
    transform: scale(.99)
}
.poster{
    border: 1px solid white;
}
.poster:hover{
    transform: scale(1.1)
}
